.flip-card {
    background-color: transparent;
    width: 350px;
    height: 225px;
    border: 10px solid #f1f1f1;
    perspective: 1000px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #fdf0d5;
    color: black;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #003049;
  }
  
  .flip-card-back {
    background-color: #669bbc;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .avatar {
    width: 100%;
    height: 100%
  }